<div id="Portraits" class="portrait-container">

  <div class="box">

    <span style="--i:1"><%= image_tag "portrait/portrait1.webp" %></span>
    <span style="--i:2"><%= image_tag "portrait/portrait2.webp" %></span>
    <span style="--i:3"><%= image_tag "portrait/portrait3.webp" %></span>
    <span style="--i:4"><%= image_tag "portrait/portrait4.webp" %></span>
    <span style="--i:5"><%= image_tag "portrait/portrait5.webp" %></span>
    <span style="--i:6"><%= image_tag "portrait/portrait6.webp" %></span>
    <span style="--i:7"><%= image_tag "portrait/portrait7.webp" %></span>
    <span style="--i:8"><%= image_tag "portrait/portrait8.webp" %></span>
    <span style="--i:9"><%= image_tag "portrait/portrait9.webp" %></span>
    <span style="--i:10"><%= image_tag "portrait/portrait10.webp" %></span>

  </div>

</div>
