<%= partial 'partials/preloader' %>

<div class="main-content">
  <%= partial 'partials/navbar' %>
  <%= partial 'partials/hero' %>
  <%= partial 'partials/about' %>
  <%= partial 'partials/portrait' %>
  <%= partial 'partials/landscape' %>
  <%= partial 'partials/contact' %>
</div>
